{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}


  <div class="card">
        <div class="card-header bg-dark text-white">
       Modifier un etudiant

        </div>

        <div class="card-body">
            {{form(form)}}
        </div>
    </div>

{% endblock %}